{% if hide is defined %}
    {% set hid="hidden" %}
{% else %}
    {% set hid="visible" %}
{% endif %}
<h4 style="visibility:{{ hid }}" data-toggle="collapse" data-target="#{{ idek }}">{{ text }}</h4>
<div style="visibility:{{ hid }}" id="{{ idek }}" class="collapse">
    {% if catalog is defined %}
        {% include catalog ~ '/'~ idek ~'.html.twig' %}
    {% else %}
        {% include idek ~'.html.twig' %}
    {% endif %}
</div>